@charset 'utf-8';

/*top*/
#top h1 {
    font-size: 30px;
    text-align: left;
}

#top h1 a {
    color: #000;
}

#top h1 a:hover {
    color: #fcbd89;
}

h1 {
    text-align: center;
    margin-bottom: -40px;
    padding-top: -5px;
}

#bana {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

#bana img {
    width: 550px;
    height: 400px;
}

.bun {
    display: table;
    line-height: 2.0;
    margin-top: 70px;
    margin-left: 470px;
}

#bor{
    display: flex;
}
#snta {
    margin-top: 100px;
    margin-left: 450px;
}
#snta h2{
    margin-left: 300px;
}
#saku{
    display: flex;
    margin-top: 50px;
}
#saku_1 img{
    width: 300px;
    height: 900px;
}
#saku_2{
    margin-left: 50px;
}
#saku_2 img{
    width: 200px;
    height: 150px;
}
.pura{
    margin-left: 60px;
}
.ha{
    margin-left: 80px;
}

@media screen and (max-width:768px) {
    #bana img {
        width: 500px;
        height: 350px;
    }

    .bun {
        margin-left: 50px;
        margin-bottom: 50px;
    }

    #bor{
        display: block;
        margin-left: 100px;
    }
    
    #snta {
        margin-left: 45px;
    }
    #snta img{
        width: 300px;
        height: 900px;
        margin-left: 125px;
    }
    #snta h2{
        margin-left: 250px;
    }
    #saku{
        display: block;
    }
    #saku_2{
        margin-left: 90px;
        margin-top: 150px;
        margin-bottom: 50px;
    }
    #saku_2 h2{
        margin-left: 115px;
        margin-bottom: 50px;
    }
    #saku_2 img{
        width: 100px;
        height: 80px;
    }
    .pura{
        margin-left: 130px;
    }
    .ha{
        margin-left: 160px;
    }
    
}