@charset 'utf-8';

/*nav*/
nav {
    background-color: #ffffffb2;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
    padding-top: 50px;
}

nav ul {
    list-style: none;
    text-align: right;
}

nav ul li {
    padding-right: 10px;
    margin-right: 50px;
    display: inline;
    font-size: 20px;
}

nav ul li a {
    color: #251d1d;
    text-decoration: none;
}

/*top*/
#top {
    display: flex;
    margin-top: 70px;
}

#top h1 {
    font-size: 65px;
    margin-top: 100px;
    margin-left: 200px;
}

#top img{
    width: 300px;
    height: 400px;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 200px;
}  

/*about*/
#about_all {
    display: flex;
    margin-top: 100px;
}

#about_all h2 {
    font-size: 40px;
}

#me {
    padding-top: 30px;
    padding-left: 15px;
    font-size: 19px;
}

#you {
    font-size: 20px;
    margin-top: 150px;
    margin-bottom: 50px;
}

#lin {
    font-size: 30px;
    color: #272727;
    margin-top: 250px;
    margin-left: 150px;
}
#lin:hover{
    color: #fcbd89;
}

/*design*/
#design_all {
    margin-top: 100px;
}

#design_all h2 {
    font-size: 40px;
}

.kage {
    filter: drop-shadow(6px 10px 4px #0000005f);
}

#deza h3 {
    padding-left: 50px;
    border-bottom: solid 1px #000;
}

#deza img {
    width: 290px;
    height: 250px;
    padding-right: 130px;
}

#deza img:hover {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.img {
    display: flex;
    margin-left: 220px;
}

/*footer*/
footer {
    background-color: rgba(0, 0, 0, 0.249);
    width: 1500px;
    margin-top: 100px;
}

footer h2 {
    padding-top: 5px;
    padding-left: 5px;
}

footer ul {
    list-style: none;
    display: flex;
}

footer ul li {
    padding-right: 10px;
    font-size: larger;
}
footer ul li a{
    color: #000;
}
footer p {
    text-align: center;
}


@media screen and (max-width:768px) {

    /*nav*/
    nav {
        background-color: #fff;
        box-sizing: border-box;
        height: 100%;
        padding: 10px 40px;
        /*メニュー内部上下左右余白*/
        position: fixed;
        right: -300px;
        /*メニュー横幅①と合わせる*/
        top: 0;
        transition: transform 0.3s linear 0s;
        /*0.3s は変化するのにかかる時間*/
        width: 300px;
        /*メニュー横幅①*/
        z-index: 1000;
    }

    nav ul {
        list-style: none;
        text-align: right;
    }

    nav ul li {
        padding-right: 10px;
        display: inline;
    }

    /*メニューアイコン部分は疑似要素で*/
    nav:before {
        background-color: #fff;
        /*ボタン部分背景色*/
        border-radius: 0 0 0 10px;
        /*左下角丸*/
        color: #333;
        /*アイコン（フォント）色*/
        content: "≡";
        /*メニューアイコン*/
        display: block;
        font-size: 50px;
        /*アイコン（フォント）サイズ*/
        height: 50px;
        line-height: 50px;
        /*縦位置中央化*/
        position: absolute;
        right: 100%;
        text-align: center;
        top: 0;
        width: 50px;
    }


    /*hover 時の処理*/
    nav:hover {
        transform: translate(-300px);
        /*メニュー横幅①と合わせる*/
    }

    nav:hover~#menu-background {
        /*#ham-menu:hoverの直後に隣接している要素にCSSを設定する*/
        opacity: 0.5;
        /*黒背景部分透過度*/
        z-index: 999;
    }


    /*top*/
    #top{
        margin-top: 180px;
    }
    #top h1 {
        font-size: 50px;
        margin-left: 10px;
    }
    #top img {
        width: 200px;
        height: 300px;
        margin-left: 10px;
    }

    /*about*/
    #about_all {
        display: block;
    }    

    #me {
        margin-top: -70px;
    }
    #you{
        margin-top: 10px;
    }
    #lin{
        margin-left: 550px;
    }
    #lin:hover{
        color: #fcbd89;
    }

    /*design*/
    .img{
        display: block;
    }
    

    /*footer*/
    footer {
        width: auto;
    }

    footer ul {
        list-style: none;
        display: flex;
    }
    footer ul li a{
        color: #000;
    }
}